language: java
sudo: required
install:
- sudo curl -L https://github.com/docker/machine/releases/download/v0.8.1/docker-machine-Linux-x86_64 > /tmp/docker-machine
- sudo chmod +x /tmp/docker-machine
- /tmp/docker-machine -v
- sudo mv /tmp/docker-machine /usr/local/bin/docker-machine
- echo "deb http://download.virtualbox.org/virtualbox/debian xenial contrib" >> /etc/apt/sources.list
- sudo apt-get update
- sudo apt-get install virtualbox-5.1
- docker-machine create -d virtualbox --virtualbox-disk-size 40000 --virtualbox-memory "2048" osf-docker-test
services:
- docker
script: mvn -X -e verify
jdk:
- oraclejdk8
