# Runtime environment variables that are passed via docker-compose
# to OSF containers
#
# This file should be edited to suit your environment, then copied
# to a file named '.env'

DB_HOST=tokumx
ELASTIC_URI=elasticsearch
CAS_SERVER_URL=http://192.168.99.100:8080
API_DOMAIN=http://192.168.99.100:8000/
DOMAIN=http://192.168.99.100:5000/
WATERBUTLER_URL=http://192.168.99.100:7777
WATERBUTLER_ADDRS=['192.168.99.100']
TOKU_HUGE_PAGES_OK=1
