version: "2"

services:

  rabbitmq:
    image: rabbitmq:latest
    container_name: osf-rabbitmq

  elasticsearch:
    image: elasticsearch:latest
    container_name: osf-elasticsearch

  tokumx:
    image: centerforopenscience/tokumx
    container_name: osf-tokumx
    environment:
      - TOKU_HUGE_PAGES_OK=1
    ports:
      - "27017:27017"

  osf_mono:
    image: test/osf-mono
    container_name: osf-mono-api
    environment:
      - DB_HOST=tokumx
      - ELASTIC_URI=elasticsearch
    command: invoke -f /tmp/invoke.yaml apiserver --host=0.0.0.0
    # build:
    #   context: ./api
    #   args:
    #     SHARED: /shared
    #     TMP: /tmp
    links:
      - tokumx:tokumx
      - rabbitmq:rabbitmq
      - elasticsearch:elasticsearch
    expose:
      - 8000
    ports:
      - 8000:8000

  osf_mono_web:
    image: test/osf-mono
    container_name: osf-mono-web
    environment:
      - DB_HOST=tokumx
      - ELASTIC_URI=elasticsearch
    command: invoke -f /tmp/invoke.yaml server --host=0.0.0.0
    # build:
    #   context: ./api
    #   args:
    #     SHARED: /shared
    #     TMP: /tmp
    links:
      - tokumx:tokumx
      - rabbitmq:rabbitmq
      - elasticsearch:elasticsearch
    expose:
      - 5000
    ports:
      - 5000:5000      
