version: "2"

services:

  rabbitmq:
    image: rabbitmq:latest
    container_name: osf-rabbitmq

  elasticsearch:
    image: elasticsearch:latest
    container_name: osf-elasticsearch

  tokumx:
    image: centerforopenscience/tokumx
    container_name: osf-tokumx
    environment:
      - TOKU_HUGE_PAGES_OK=1
    ports:
      - "27017:27017"

  osf_api:
    image: dataconservancy/cos-osf-runtime:latest
    container_name: osf-api
    environment:
      - DB_HOST=tokumx
      - ELASTIC_URI=elasticsearch
    command: invoke -f /tmp/invoke.yaml apiserver --host=0.0.0.0
    # build:
    #   context: ./api
    #   args:
    #     SHARED: /shared
    #     TMP: /tmp
    links:
      - tokumx:tokumx
      - rabbitmq:rabbitmq
      - elasticsearch:elasticsearch
    expose:
      - 8000
    ports:
      - 8000:8000

  osf_web:
    image: dataconservancy/cos-osf-runtime:latest
    container_name: osf-web
    environment:
      - DB_HOST=tokumx
      - ELASTIC_URI=elasticsearch
    command: invoke -f /tmp/invoke.yaml server --host=0.0.0.0
    # build:
    #   context: ./api
    #   args:
    #     SHARED: /shared
    #     TMP: /tmp
    links:
      - tokumx:tokumx
      - rabbitmq:rabbitmq
      - elasticsearch:elasticsearch
      - cos_fakecas:fakecas
    expose:
      - 5000
    ports:
      - 5000:5000

  cos_fakecas:
    image: dataconservancy/cos-fakecas:latest
    container_name: osf-fakecas
    links:
      - tokumx:tokumx
    expose:
      - 8080
    ports:
      - 8080:8080
