#
# Runtime environment variables that are passed by docker-compose
# to OSF-related containers
#
# This file should be edited to suit your environment, then copied
# to a file named '.env'

DB_HOST=${db.host}
ELASTIC_URI=${elastic.uri}
DOCKER_OSF_HOST=${docker.osf.host}
CAS_SERVER_URL=${cas.server.url}
API_DOMAIN=${api.domain}
DOMAIN=${domain}
WATERBUTLER_URL=${waterbutler.url}
WATERBUTLER_ADDRS=${waterbutler.addrs}
TOKU_HUGE_PAGES_OK=${toku.huge.pages}
